#title {
    font-weight: bold;
    
}

#timeContainer {
    text-align: center;
}

#time {
    font-weight: bold;
    font-size: 32px;
}

.table {
    text-align: center;;
}

#add-train {
    height: 50%;
}

form {
    margin-left: 10%;
    margin-right: 10%
}

h3 {
    margin-left: 10%;
}

