#title {
    font-weight: bold;
    
}

#timeContainer {
    text-align: center;
}

#time {
    font-weight: bold;
    font-size: 32px;
    /* border: black 2px solid;  */
    padding: 15px;
}

.table {
    text-align: center;;
}

#add-train {
    height: 50%;
}

form {
    margin-left: 10%;
    margin-right: 10%
}

h3 {
    margin-left: 10%;
}

.jumbotron {
    background-image: url("https://images.alphacoders.com/546/546898.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

